version: "3.8"

services:
  cloudflared:
    container_name: cloudflared-access
    # Restart on crashes and on reboots
    restart: unless-stopped
    image: cloudflare/cloudflared:latest
    command: "tunnel --no-autoupdate run"
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARED_TUNNEL_TOKEN}
    logging:
      options:
        max-size: "10m"
        max-file: "3"
