version: "2.4"

services:
  transmission:
    container_name: transmission
    image: linuxserver/transmission
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
    volumes:
      - /home/media/appdata/transmission:/config
      - /mnt/Scratch/Downloads:/downloads
      - /mnt/Scratch/Watch/Transmission:/watch
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp

  notifiarr:
    container_name: notifiarr
    hostname: notifiarr
    image: golift/notifiarr
    restart: unless-stopped
    privileged: true
    ports:
      - "5454:5454"
    volumes:
      - /home/media/appdata/notifiarr:/config
      - /var/run/utmp:/var/run/utmp
      - /etc/machine-id:/etc/machine-id
      - /mnt/TV:/media/TV
      - /mnt/Movies:/media/Movies
      - /mnt/Music_Videos:/media/Music_Videos
