# Import statement:
# include:
#   - path: /mnt/FineBoi/Apps/homelab/docker/jackett.yml
# services: {}

---
services:
  jackett:
    container_name: jackett
    image: linuxserver/jackett
    restart: unless-stopped
    ports:
      - 9117:9117
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
    volumes:
      - /mnt/FineBoi/Apps/Jackett:/config
      - /mnt/FineBoi/Downloads:/downloads
