# Import statement:
# include:
#   - path: /mnt/FineBoi/Apps/homelab/docker/plex.yml
# services: {}

---
services:
  plex:
    image: plexinc/pms-docker
    container_name: plex
    restart: unless-stopped
    network_mode: host
    environment:
      - TZ=America/Los_Angeles
      - PLEX_UID=1000
      - PLEX_GID=1000
      - ADVERTISE_IP=http://10.1.1.170:32400/
    devices:
      - /dev/dri:/dev/dri
    group_add:
      - "44" # replace with the host's video group GID (getent group video)
      - "109" # replace with the host's render group GID (getent group render)
    volumes:
      - /mnt/FineBoi/Apps/Plex/config:/config
      - /mnt/FineBoi/Transcode:/transcode
      - /mnt/Chungus/Media/TV:/media/TV
      - /mnt/Chungus/Media/Movies:/media/Movies
      - /mnt/FineBoi/Apps/Plex/Plex-DB-Backups:/database-backups
