---
services:
  plex:
    image: plexinc/pms-docker
    container_name: plex
    restart: unless-stopped
    network_mode: host
    environment:
      - TZ=America/Los_Angeles
      - PLEX_UID=1000
      - PLEX_GID=1000
      - ADVERTISE_IP=http://10.1.1.170:32400/
    volumes:
      - /mnt/FineBoi/Apps/Plex/config:/config
      - /mnt/FineBoi/Transcode:/transcode
      - /mnt/Power/TV:/media/TV
      - /mnt/Power/Movies:/media/Movies
      - /mnt/FineBoi/Apps/Plex/Plex-DB-Backups:/database-backups
